server:
  error:
    include-message: always
    include-binding-errors: always
    include-exception: true

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5433/seatdb}
    username: ${DB_USER:seatuser}
    password: ${DB_PASSWORD:seatpass}

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    org.flywaydb: INFO